
body{
    font-family: 'Open Sans', sans-serif;
}
tbody{
    font-size: 14px;
}
.table{
    margin-top: 20px;
    color: #73879C;
}
.create{
    background-color: #428bca;
    color: white;
    border-radius: 8px;
    padding: 5px 4px;
    display: inline-block;
}
.left_col{
    position: fixed;
}
.nav_menu{
    margin-bottom: 20px;
}
.right_col h2{
    font-size: 30px;
    font-weight: bold;
    color: #296DC4;
}
.form-control{
    height: 36px;
    border-radius: 4px;
    padding: 0.10rem .75rem;
}
.btn-primary{
    background-color: #428bca;
}

.btn1{
    display: inline-block;
    padding: 2px 4px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
label{
    font-weight:bold;
}
td span {
    background: #06883a;
    color: white;
    border-radius: 5px;
    padding: 2px 4px;
}
.table td, .table th{
    padding: 7px;
}
table.dataTable{
    border-collapse: collapse;
}
.modal-footer{
    border-top: none;
}
.table-responsive{
    overflow-x: unset;
}
.collapse{
    display:block;
}
.select2-container {
    display: block!important;
    width: auto!important;
}