.contact{
    padding: 4%;
    /* height: 400px; */
}
.col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.contact .row .col-md-9{
    background: #f1f3f5;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #ff9b00;
    color: #fff;
    font-weight: 600;
}
.contact-form button:focus{
    box-shadow:none;
}