.footer-area{
  background-color: #E8E8E8;  
}
.footer-bottom-area{
    
}
/* Footer Margin */
.footer-area .footer-pera p{
    margin-bottom: 15px;
}
.footer-area .footer-logo {
    margin-bottom: 20px;
}
.footer-area img{
    width: 40px;
    margin: 3px;
}
.footer-area .footer-tittle ul li a:hover{
    color: #f9b234;
}
.footer-area .footer-logo h4{
    color: #012f5f;
    font-size: 20px;
    margin-bottom: 29px;
    font-weight: 500;
    text-transform: capitalize;
}
/* .footer-area .footer-pera p{
    color: #FFF;
} */
/* .footer-area .footer-tittle ul li a{
    color: #FFF;
} */