.header-area img{
    width: 90px;
}
@media (max-width: 767px) {
    /* Probably some parent element that limits the img width */
    .header-area img {
      width: 65px;
    }
  }
.h1-testimonial-active .testimonial-icon img{
      width: 90px;
}
/* .main-header .main-menu ul li a{
    padding: 9px 19px;
} */
.main-header .main-menu ul li a:hover{
    color:#f9b234 ;
}
.main-header .main-menu ul li .dropdown-menu{
    padding: 0.5rem 0;
    margin: .125rem 0 0;
}
.main-header .main-menu ul li .dropdown-menu a{
    padding: .25rem 1.5rem;
}
.header-sticky.sticky-bar.sticky .main-menu ul>li>a {
    padding: 9px 20px;
}
.header-area .active{
    background-color: #f9b234;
    color:#fff!important;
    padding: 9px 19px!important;
}
@media (max-width: 1023px) {
    /* Probably some parent element that limits the img width */
    .header-area .slicknav_btn {
        top: -57px;
    }
  }
  @media (max-width: 767px) {
    /* Probably some parent element that limits the img width */
    .header-area .slicknav_btn {
        top: -44px;
    }
  }
  .slider-area .hero__caption p{
      color: #f9b234;
  }

  /* Topbar */
  @media (max-width: 767px){
    .header-area .header-top {
        padding: 5px 20px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1600px){
    .header-area .header-top {
        padding: 5px 80px;
    }
  }
  .header-area .header-top .header-info-right .header-social li a:hover{
    color: #f9b234;
  }
  .dropdown-menu{
      min-width: 0;
  }
/* padding menu bar */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .header-area .header-bottom {
        padding: 10px 50px;
    }
}
@media (max-width: 767px)
{
    .header-area .header-bottom {
        padding: 15px 20px;
    }
}
.slicknav_menu .slicknav_nav a:hover{
    color: #f9b234!important;
}

