
#breadcrumbs{
    background-color: #E8E8E8!important;
    margin-bottom: 20px;
}
.breadcrumb{
    background-color: #E8E8E8;
    padding: 8px 0px;
    list-style: none;
    background-color: inherit;
    border-radius: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}
.breadcrumb li a{
    color: black;
    padding:10px;
}
.breadcrumb .fa{
    padding-right: 10px;
}


/* Table */
table{
    border-collapse: collapse;
}
table td {
    padding: 0.5em !important;
}
table th.center {
    text-align: center;
}

.table tr td .btn-success:hover {
    color: #fff;
    background-color: unset !important;
}
.table td{
    border: 1px solid #dadada;
}
.table-responsive{
    overflow-x: unset;
}
.table tr td p{
    color: #212529
}
h3.intro {
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ECECEC;
}
/* Table */

/* Button Color */
.btn,.send-btn{
    background-color: #F9B234;
}
.send-btn::before{
    background-color: #FF7F00;
}
.border-btn{
    border: 2px solid  #F9B234;
    color: #F9B234;
}
.border-btn::before{
    background-color:#F9B234 ;
}
#scrollUp{
    background-color: #F9B234;
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #F9B234 !important;
}
.btn{
    min-width: unset;
}
.bg-primary ,.bg-success{
    background-color: #F9B234 !important;
}
/* Button Color */

/* Language */
header .header-area .dropdown-item{
    color: black!important;
}
/* Languagae */

/* form */
.form{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* form */
.team-profile .single-profile .single-profile-front .profile-img img:hover{
    border-bottom: 7px solid #F9B234;
}
.team-profile .single-profile .single-profile-back-last{
    border: 4px solid #F9B234;
}
.team-profile .single-profile .single-profile-back-last h2::before{
    background: #191d34;
}
/* .slider-area .slider-active button.slick-arrow{
    background: #F9B234!important;
} */
.slider-active button.slick-arrow{
    background-color: #F9B234;
}
.slider-active button:hover{
    background:#FF7F00!important;
}
/* .slider-area.slider-active button.slick-arrow:hover {
    background: #002d5b!important;
} */
.services-area .single-services .services-icon img {
    width: 57px;
    padding-bottom: 30px;
}
.testimonial-area .h1-testimonial-active:hover button{
    background: #F9B234!important;
}
.about_padding{
    padding-top: 100px;

}
.center{
    text-align: center;
}
.we-trusted-area .trusted-caption ul li {
    list-style: unset;
}
.we-trusted-area .trusted-caption h2 {
    font-size: 30px;
    
}
.trusted-caption h2{
    font-size: 50px;
    font-weight:600;
}
.recent-area .single-recent-cap .recent-cap span{
    color:#F9B234 ;
}
.recent-area .single-recent-cap .recent-cap h4 a:hover{
    color:#F9B234 ;
}
.team-profile .single-profile .single-profile-front .profile-caption h4 a:hover{
    color:#F9B234 ;
}
.btn::before{
    background-color:#FF7F00;
}